<div class="content">

  <div class="fr1-number">{{frames[0].frame}}</div>
  <div class="fr1-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,0,1)>
  </div>
  <div class="fr1-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,0,2)>
  </div>
  <div class="fr1-score">
    {{frames[0].framescore}}
  </div>


  <div class="fr2-number">{{frames[1].frame}}</div>
  <div class="fr2-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,1,1)>
  </div>
  <div class="fr2-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,1,2)>
  </div>
  <div class="fr2-score">
    {{frames[1].framescore}}
  </div>

  <div class="fr3-number">{{frames[2].frame}}</div>
  <div class="fr3-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,2,1)>
  </div>
  <div class="fr3-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,2,2)>
  </div>
  <div class="fr3-score">
    {{frames[2].framescore}}
  </div>

  <div class="fr4-number">{{frames[3].frame}}</div>
  <div class="fr4-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,3,1)>
  </div>
  <div class="fr4-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,3,2)>
  </div>
  <div class="fr4-score">
    {{frames[3].framescore}}
  </div>

  <div class="fr5-number">{{frames[4].frame}}</div>
  <div class="fr5-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,4,1)>
  </div>
  <div class="fr5-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,4,2)>
  </div>
  <div class="fr5-score">
    {{frames[4].framescore}}
  </div>

  <div class="fr6-number">{{frames[5].frame}}</div>
  <div class="fr6-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,5,1)>
  </div>
  <div class="fr6-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,5,2)>
  </div>
  <div class="fr6-score">
    {{frames[5].framescore}}
  </div>

  <div class="fr7-number">{{frames[6].frame}}</div>
  <div class="fr7-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,6,1)>
  </div>
  <div class="fr7-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,6,2)>
  </div>
  <div class="fr7-score">
    {{frames[6].framescore}}
  </div>

  <div class="fr8-number">{{frames[7].frame}}</div>
  <div class="fr8-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,7,1)>
  </div>
  <div class="fr8-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,7,2)>
  </div>
  <div class="fr8-score">
    {{frames[7].framescore}}
  </div>

  <div class="fr9-number">{{frames[8].frame}}</div>
  <div class="fr9-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,8,1)>
  </div>
  <div class="fr9-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,8,2)>
  </div>
  <div class="fr9-score">
    {{frames[8].framescore}}
  </div>

  <div class="fr10-number">{{frames[9].frame}}</div>
  <div class="fr10-b1">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,9,1)>
  </div>
  <div class="fr10-b2">
    <input type="number" max="10" min=0 (keyup)=getVal($event.target.value,9,2)>
  </div>
  <div class="fr10-score">
    {{frames[9].framescore}}
  </div>
</div>
